.formacao {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.formacao li {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 1rem;
    font-weight: 400;
    font-size: 1rem;
}

.formacao li::before {
    content: "";
    display: inline-block;
    min-width: 1rem;
    min-height: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../img/icons/check.svg');
    margin-right: .5rem;
}

.formacao.cursos {
    flex-direction: column;
    align-items: flex-start;
}

.formacao.cursos li{
    margin-bottom: 1rem;
}